.signup-page {
  width: 100vw;
  height: 100vh;
}
.signup_h1-title {
  width: 754px;
  height: 74px;
  margin-bottom: 300px;
  text-align: center;
  line-height: 74px;
  margin: 0 auto;
  background: #efeded;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 200px;
  margin-top: 100px;
}
.signup-form_contaner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.signup-form {
  width: 626px;
  height: 629px;
  background: #dedede;
  border: 1px dashed #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.signup-ai_contaner-f {
  position: relative;
  width: 142px;
  height: 151px;
  background: #272424;
  border-radius: 30px;
  margin-bottom: -100px;
}
.signup-ai-contaner {
  position: absolute;
  width: 260px;
  height: 335px;
  bottom: 2px;
  left: 10px;
  padding: 10px;
  background: #d9d9d9;
  border: 2px solid #000000;
  border-radius: 30px;
}
.signup-form_input-1 {
  width: 382px;
  height: 42px;
  margin: 20px;
  border-style: none;
  background: #a7a7a7;
  border-bottom: 2px solid #060000;
  border-radius: 10px 10px 0px 0px;
}

.signup-btn_s1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px;
}
.signup-btn_p1 {
  width: 150px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  line-height: 30px;
  border: 2px solid black;
  border-radius: 30px;
}
.signup-btn_p2 {
  width: 150px;
  height: 30px;
  background-color: rgb(140, 53, 53);
  line-height: 30px;
  border: 2px solid black;
  border-radius: 30px;
  color: white;
}
.signup-btn_p2:hover {
  background-color: rgb(247, 0, 0);
}
.signup-btn_cencel {
  width: 150px;
  height: 30px;
  background-color: rgb(140, 53, 53);
  line-height: 30px;
  border: 2px solid black;
  border-radius: 30px;
  color: white;
}
.signup-btn_login {
  width: 150px;
  height: 30px;
  background-color: rgb(116, 70, 70);
  line-height: 30px;
  border: 2px solid black;
  border-radius: 30px;
  color: white;
}
